body {
  margin: 0;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}
main {
  background-color: hsl(225, 100%, 94%);
  height: 1000px;
  width: 1440px;
  position: relative;
}

footer {
  background-color: hsl(225, 100%, 94%);
  width: 1440px;
}

.top-image {
  border-radius: 15px 15px 0 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.background-svg {
  position: relative;
}

.image-music {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 4.5% 0 4.5% 4.5%;
}

.plan {
  display: inline-block;
  position: relative;
  right: 15%;
  top: 5%;
  bottom: 5%;
  text-align: left;
  line-height: 5px;
  padding: 3%;
}

.annual-plan {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}

.price {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.change {
  display: inline-block;
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 5%;
  padding: 1.5% 0;
  font-weight: 700;
}

.change a:hover {
  color: mediumslateblue;
  text-decoration: none;
}

.main-body-text {
  text-align: center;
  width: 450px;
  height: 660px;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 35%;
  right: 35%;
  bottom: 10%;
  border-radius: 15px;
}

.plan-box {
  margin: 5% 10%;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  position: relative;
}

.payment {
  border-radius: 10px;
  margin: 6% 10%;
  background-color: hsl(245, 75%, 52%);
  box-shadow: 10px 30px 8px hsl(225, 100%, 98%);
  font-weight: 700;
  color: white;
}

.pay {
  padding: 4% 0;
  border-radius: 10px;
}

.payment p.pay:hover {
  padding: 4% 0;
  background-color: mediumslateblue;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-order {
  position: relative;
  bottom: 0.3px;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
}

.cancel-order p:hover {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}

.order-summary {
  margin: 8% 10% 4.5%;
  font-weight: 900;
  font-size: 30px;
  color: hsl(223, 47%, 23%);
}

.description {
  margin: 2.5% 10% 2.5%;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  font-size: medium;
}
